/* Nav bar styling starts */
#navbarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #424949;
  padding: 10px;
}

.navbar a:hover {
  background-color: #ddd;
}

.navbar a {
  color: white;
}

.nav-item.dropdown:hover .dropdown-menu {  /* makes dropdown menu appear when hovering over */
  display: block;
  background-color: #ddd;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu a {
  color: #007bb5;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}
/* Nav bar styling ends */



/* Body content styling starts */
body {
  background-color: #BDC3C7;  /*not working*/
  font-size: 16px;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}

p{
  font-size: 16px;
  text-align: left;
  color: #3284ba;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
}

.wrapper {  /*contains the grid */
  display: flex;
  flex-direction: column;
}

.content {
  margin-bottom: 10%; /* Adjust spacing below div */
}

#content3Container {  /* not working */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #2F3737; /* Charcoal gray */
  padding: 20px;
  margin: 20px;
}

.profile-image {  
  float: left; 
  margin-right: 20px;
}

#content6Container {
  display: block;
  font-size: 16px;
  color: #3284ba;
  background-color: #2F3737; /* Charcoal gray */
  padding: 20px;
  margin: 20px;
}

#content7Container {  /* contacts page - contact me */
  display: block;
  padding: 20px;
  margin-top: 15%;  /* Adjust spacing above div */
  margin-bottom: 5%; /* Adjust spacing below div */
}

#content8Container p {  /* Contacts page - content */
  text-align: center;
  font-size: 18px;
}

#content8Container a {
  text-align: center;
  color: white;
}

#content8Container a:hover {
  background-color: #ddd;
}

#content8Container {
  display: block;
  font-size: 16px;
  color: #3284ba;
  padding: 20px;
  margin-bottom: 5%; /* Adjust spacing below div */
}

#content9Container {  /* Projects page - intro */
  display: block;
  padding: 20px; 
  margin-top: 5%;  /* Adjust spacing above div */
  margin-bottom: 5%; /* Adjust spacing below div */
}

#content9Container p {  /* Projects page - intro */
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

#content10Container {  /* Projects pg - cards */
  display: block;
  padding: 20px;
  margin-bottom: 5%; /* Adjust spacing below div */
}


/* Projects Card Styling begins */
.card {
  border-radius: 10%;
  text-align: center;
  padding: 10px;
  background-color: #dbbfe8;
  box-shadow: 1px 1px 5px 3px #ba79f8b7;;
  transition: box-shadow 0.5s ease-in-out;
}

.card:hover {
  box-shadow: 0px 0px 25px 10px #ba79f8b7;
}

.col {  /* Float 3 columns side by side */
  float: left;
  width: 33.33%;
  padding: 10 10px;
}

.row:after {  /* Clear floats after the columns */
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) { /* Responsive columns */
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
/* Projects Card Styling ends */


/* Body content styling ends */



/* Video content styling begins */
#videoContainer {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 15%;  /* Adjust spacing above div */
  margin-bottom: 5%; /* Adjust spacing below div */
  justify-content: center;
}

#videoContainer iframe {
  width: 560px;  /* 16:9 aspect ratio for vids */
  height: 315px;  /* 16:9 aspect ratio for vids */
}
/* Video content styling ends */



/* IMAGE GALLERY Styling begins */
.gallery {
  border: 1px solid #ccc;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;  /* centers img w/in card */
  margin: 0 auto;  /* centers img w/in card */
}

.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* IMAGE GALLERY Styling ends */



/* Footer styling starts */
#footerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #424949;
  padding: 10px;
  text-align: center;
}

#footerContainer p {  /* footer text */
  font-size: 14px;
  color: #f2f2f2;
  text-align: center;
}
/* Footer styling ends */


/*  */